/*
* This is a manifest file that'll be compiled into application.css, which will
* include all the files listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any
* plugin's vendor/assets/stylesheets directory can be referenced here using a
* relative path.
*
* You're free to add application-wide styles to this file and they'll appear
* at the bottom of the compiled file so the styles you add here take
* precedence over styles defined in any other CSS/SCSS files in this
* directory. Styles in this file should be added after the last require_*
* statement. It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
/* @import 'bootstrap'; */

body {
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
}
header.main {
  text-align: center; // center on mobile
  @media (min-width: 30em) {
    text-align: left; // left align on desktop
  }
  background: #ffffff;
  margin: 0;

  h1 {
    display: none;
  }
}
main{
  width:100%;
}
.depot_form{
  width:100%;
  .container{
    margin:0 auto;
    max-width:50%;
  }
}
#cart {
  article {
    h2 {
      margin-top: 0;
      text-align:center;
    }
    background: white;
    border-radius: 0.5em;
    margin: 1em;
    padding: 1.3em;
    @media (min-width: 30em) {
      margin: 0; // desktop doesn't need this margin
    }
  }
}
.notice, #notice {
  background: #ffb;
  border-radius: 0.5em;
  border: solid 0.177em #882;
  color: #882;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 1.414em;
  text-align: center;
}
.content {
  width:100%;
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  @media (min-width: 30em) {
    flex-direction: row; // desktop is vertically laid out
    -webkit-box-orient: horizontal;
  }
  .right{
    text-align: right;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    max-width:20%;
    @media (min-width: 30em) {
      padding: 1em;
    }
  }
  .left{
    text-align: left;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    min-width:10%;
  }
  nav {
    min-width:0;
    padding-bottom: 1em;
    background: #1c1b1d;
    text-align: center; // mobile has centered nav
    @media (min-width: 30em) {
      padding: 1.5em;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @media (min-width: 30em) {
        padding-right: 1em; // give desktop some extra space
      }
      li {
        margin: 0;
        text-transform: uppercase;
        a {
          color: #d3d4d5;
          text-decoration: none;
          display:block;
          padding:1em;
        }
        a:hover {
          background: none;
          color: white;
        }
      }
    }
  }

  main {
    padding: 0.5em 0.5em 0.5em 2em;
  }
}
.depot_form {
  padding: 0 1em;

  h1 {
    font-size: 1.99em;
    line-height: 1.41em;
    margin-bottom: 0.5em;
    padding: 0;
  }

  .field, .actions {
    margin-bottom: 0.5em;
    padding: 0;
  }

  .actions {
    text-align: right;
    padding: 1em 0;
  }

  input, textarea, select, option {
    border: solid thin #888;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.5em;
    width: 100%;
  }

  label {
    padding: 0.5em 0;
  }

  input[type="submit"] {
    background-color: #1c1b1d;
    border-radius: 0.354em;
    border: solid thin #888;
    color: white;
    font-size: 1.41em;
    font-weight: bold;
    padding: 0.354em 1em;
  }

  input[type="submit"]:hover {
    background-color: #060111;
  }

  #error_explanation {
    background-color: white;
    border-radius: 1em;
    border: solid thin red;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 100%;

    h2 {
      background: none;
      color: red;
      font-size: 1.41em;
      line-height: 1.41em;
      padding: 1em;
    }

    ul {
      margin-top: 0;

      li {
        color: red;
        font-size: 1em;
      }
    }
  }

  .field_with_errors {
    background: none;
    color: red;
    width: 100%;

    label {
      font-weight: bold;
    }

    label::before {
      content: "! ";
    }

    input, textarea {
      background: pink;
    }
  }
}
nav.logged_in_nav {
  padding: 0.354em 0;
  border-radius:0;
  margin-top: 0.354em;
  input[type="submit"] {
    // Make the logout button look like a
    // link, so it matches the nav style
    background: none;
    border: none;
    color: #b32320;
    font-size: 1em;
    font-weight:bold;
    cursor:pointer;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  input[type="submit"]:hover {
    color: white;
  }
}

footer{
  height:40px;
  background: #1c1b1d;
  position:fixed;
  bottom:0;
  width:100%;
  text-align:center;
  padding:1em;
  p{

    display: inline-block;
    color:white;
    vertical-align:middle;
  }
}