/*gem install money
* This is a manifest file that'll be compiled into application.css, which will
* include all the files listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any
* plugin's vendor/assets/stylesheets directory can be referenced here using a
* relative path.
*
* You're free to add application-wide styles to this file and they'll appear
* at the bottom of the compiled file so the styles you add here take
* precedence over styles defined in any other CSS/SCSS files in this
* directory. Styles in this file should be added after the last require_*
* statement. It is generally better to create a new file per style scope.
*
*/

@import 'bootstrap';
@import 'store';
@import 'admin';
@import 'carts';
@import 'orders';
@import 'products';
@import 'users';

body {
  font-size:12px;
  height:100%;
}
h1{
  font-size:26px;
}
h2{
  font-size:24px;
}
input{
  font-size:12px;
}
header.main{
  nav {

    .nav-item {
      padding: 5px;

      .nav-link {
        color: white;
        text-decoration: none;
      }
    }

    .btn {
      font-size: 12px;
    }
  }
}
.table>tbody>tr>td, .table>tfoot>tr>td{
  vertical-align: middle;
}
#cart{
  .btn-block{
    padding:3px 0 3px 0;
  }
}

.content {
  margin: 25px 0 0 0;
  padding: 0;

  main {
    padding: 0.5em;
  }
}
.depot_form {

  margin-top:20px;
  padding: 0 1em;
  h1 {
    font-size: 1.99em;
    line-height: 1.41em;
    margin-bottom: 0.5em;
    padding: 0;
  }

  .field, .actions {
    margin-bottom: 0.5em;
    padding: 0;
  }

  .actions {
    text-align: right;
    padding: 1em 0;
  }

  input, textarea, select, option {
    box-sizing: border-box;
    font-size: 12px;
    padding: 0.5em;
  }

  label {
    padding: 0.5em 0;
  }

  input[type="submit"] {
    background-color: #1c1b1d;
    border-radius: 0.354em;
    border: solid thin #888;
    color: white;
    font-size: 1.41em;
    font-weight: bold;
    padding: 0.354em 1em;
  }

  input[type="submit"]:hover {
    background-color: #060111;
  }

  #error_explanation {
    background-color: white;
    border-radius: 1em;
    border: solid thin red;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 100%;

    h2 {
      background: none;
      color: red;
      font-size: 1.41em;
      line-height: 1.41em;
      padding: 1em;
    }

    ul {
      margin-top: 0;

      li {
        color: red;
        font-size: 1em;
      }
    }
  }

  .field_with_errors {
    background: none;
    color: red;
    width: 100%;

    label {
      font-weight: bold;
    }

    label::before {
      content: "! ";
    }

    input, textarea {
      background: pink;
    }
  }
}

.locale {
  float: right;
  margin: 1em;
  select{
    padding:2px;
    border:0;
    border-radius:5px;
    background:white;
  }
}
footer{

  background: #343a40;
  position:fixed;
  bottom:0;
  width:100%;
  color:white;
  p{
    color:white;
  }
}
.alert{
  text-align:center;
}

#cartCollapse{

}
.shopping-cart{
  color:white;
  font-size:20px;
  #lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
  }
  .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }

  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  :hover{
    color:gray;
  }
}

.search{
  margin-bottom:25px;
}

@include media-breakpoint-down(md) {
  .container {
    width: 100%;
    max-width: none;
  }
}
