// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carts {
  table {
    border-collapse: collapse;
    text-align:left;
  }
  td {
    padding: 0.4em;
  }
  td.quantity {
    white-space: nowrap;
  }
  td.quantity::after {
    content: " ×";
  }
  td.price {
    font-weight: bold;
  }
  tfoot {
    th, td.price {
      font-weight: bold;
      padding-top: 1em;
    }
    th {
      text-align: right;
    }
    td.price {
      border-top: solid thin;
    }
  }
  input[type="submit"] {
    background-color: #378b2b;
    border-radius: 0.354em;
    border: solid thin #378b2b;
    color: white;
    font-size: 1em;
    cursor:pointer;
    padding: 0.4em 1em;
    margin-top:5px;
  }
  input[type="submit"]:hover {
    background-color: #2b6a22;
  }
}