// Place all the styles related to the Store controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store {


  ul.catalog {
    border-top: solid 0.250em;
    list-style: none;
    padding: 0;
    margin: 2em;
    height:100%;

    li {
      padding: 1em;
      margin: 0;
      border-bottom: solid thin #ddd;
      // This makes sure our <li> has enough height
      // to hold the entire image, since it's floated
      &::after {
        clear: both;
        content: " ";
        display: block;
      }

      img {
        float: left;
        padding: 1em;
        width:150px;
        max-height:150px;
        margin-right: 1em;
        margin-bottom: 1em;

      }

      .price {
        font-size: 1.5em;
        float:right;
        p, a{
          display:inline-block;
        }
        p{
          margin-right:10px;
        }
      }
      a{
        text-align:center;
        padding:5px 12px 5px 10px;
      }
    }
  }
}
