// Place all the styles related to the Store controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store {
  .search{
    margin-top:25px;
  }
  margin-bottom:100px;
  .paginate-container{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:25px;
    text-align:center;
    .pagination{
      margin:0 auto;
      text-align:center;
      a{
        color: #343a40;
      }
      .active{
        background: #343a40;
        span{
          color:white;
        }
      }
      .prev{
        border-top-left-radius:5px;
        border-bottom-left-radius:5px;
      }
      .next{
        border-top-right-radius:5px;
        border-bottom-right-radius:5px;
      }
      li{
        padding:10px;
        cursor:pointer;
        border:1px solid rgba(3, 44, 64, 0.51);
        span{
          display:block;
        }
      }
    }
  }

  ul.catalog {
    border-top: solid 0.250em;
    list-style: none;
    padding: 0;
    margin: 0;
    height:100%;

    li {
      padding: 1em 0 1em 0;
      margin: 0;
      border-bottom: solid thin #ddd;
      // This makes sure our <li> has enough height
      // to hold the entire image, since it's floated
      &::after {
        clear: both;
        content: " ";
        display: block;
      }
      p{
        max-width:90%;
      }

      img {
        float: left;
        padding: 1em;
        width:150px;
        max-height:150px;
        margin-right: 1em;
        margin-bottom: 1em;

      }

      .price {
        font-size: 1.5em;
        float:right;
        p, a{
          display:inline-block;
        }
        p{
          margin-right:10px;
        }
      }
      a{
        text-align:center;
        padding:5px 12px 5px 10px;
      }
    }
  }
}
